<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Guess the Vibe!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>This web app will allow you to do several things:</p>
        <ol>
            <li>Test the 'vibe' of a track (party, chill or sad)</li>
            <li>Create playlists for each of the three vibes above, which you can add to your own playlists</li>
        </ol>
        <p>To continue, please enter your name below and hit 'Enter'</p>
        <p>You will be prompted to login to your Spotify account</p>
        <form action="login" method="post">
            <input type="text" name="user">
            <br>
            <input type="submit" value="Enter" id="user_login">
        </form>
    </body>
</html>