<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Guess the Vibe!</title>
    </head>
    <body>
        <h1>Let me guess the vibe of your track!</h1>
        <p>Based on audio features in the track you provide, I will guess whether the song has a:</p>
        <ol>
            <li>Party vibe</li>
            <li>Chill vibe; or</li>
            <li>Sad vibe</li>
        </ol>
        <form action="track_id" method="post">
            <p>Enter a track ID below to find out!</p>
            <br>
            <input type="text" name="track_id_input">
            <br>
            <br>
            <input type="submit" value="TRACK_ID" id="id">
        </form>
    </body>
</html>