<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vibe Guesser</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div>
            <form action="logout" method="post">
                <input type="submit" value="Logout" id="user_logout">
            </form>
        </div>
        <h1>Hi {{ user }}!</h1>
        <img src = {{ user_img }} height="150px">
        <h3>Let me guess the vibe of your track!</h3>
        <p>Based on audio features in the track you provide, I will guess whether the song has a:</p>
        <ol>
            <li>Party vibe</li>
            <li>Chill vibe; or</li>
            <li>Sad vibe</li>
        </ol>
        <form action="track_id" method="post">
            <p>
                <strong>Enter a track ID below to find out!</strong>
            </p>
            <input type="text" name="track_id_input">
            <br>
            <br>
            <input type="submit" class="submit_buttons" value="Get Vibe!" id="predict">
        </form>
        <br>
        <div>
            {% if track_id and prediction != 'Something went wrong - please check your track ID and try again.' %}
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{track_id}}?utm_source=generator" width="50%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            {% endif %}
        </div>
        <p>
            {% for message in get_flashed_messages()%}
                <p>{{message}}</p>
            {% endfor %}
        </p>
    </body>
</html>